body {
    font-family: 'Roboto';
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}


.first-section {
    background-color: #1F2937;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    width: 100%;
    font: 24px #F9FAF8;
    margin: 0px 24px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;

}

.left-side {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAf8;
}



.footer {
    background-color: #1F2937;
}

.pictures, .signup {
    background-color: #fff;
}

.quote {
    background-color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #fff;
}

span > button { 
    background-color: #3882F6;
    color: #fff;
    padding: 8px 16px;
}